In [2]:
import pandas as pd

In [3]:
processors = pd.Series(["Ryzen 5 5600X", "Ryzen 7 5800X", "Ryzen 9 5900X"],
            index = [3.7, 3.8, 3.7])
processors

3.7    Ryzen 5 5600X
3.8    Ryzen 7 5800X
3.7    Ryzen 9 5900X
dtype: object

In [4]:
processors_list = pd.Series(["Ryzen 5 5600X", "Ryzen 7 5800X", "Ryzen 9 5900X"])
processors_list

0    Ryzen 5 5600X
1    Ryzen 7 5800X
2    Ryzen 9 5900X
dtype: object

In [5]:
dict = {3.7 : 'Ryzen 5600X', 3.8 : 'Ryzen 5800X', '3.7' : 'Ryzen 5900X'}
pd.Series(dict)

3.7    Ryzen 5600X
3.8    Ryzen 5800X
3.7    Ryzen 5900X
dtype: object

In [6]:
processors[3.8]

'Ryzen 7 5800X'

In [7]:
processors_list[0:3]

0    Ryzen 5 5600X
1    Ryzen 7 5800X
2    Ryzen 9 5900X
dtype: object

In [9]:
dict = {
    'Bicicleta' : ['Felt 700', 'Mérida Dirt', 'Treck Marlin'],
    'Rodada' : [700, 700, 29],
    'Talla' : [52, 'S', 'M' ],
    'Material' : ['Carbono', 'Aluminio', 'Aluminio'],
    'Peso' : [7, 10, 12]
}

cleta = pd.DataFrame(dict, index = ['Ruta', 'Gravel', 'Montaña'])
cleta

            Bicicleta  Rodada Talla  Material  Peso
Ruta         Felt 700     700    52   Carbono     7
Gravel    Mérida Dirt     700     S  Aluminio    10
Montaña  Treck Marlin      29     M  Aluminio    12

In [10]:
cleta.columns

Index(['Bicicleta', 'Rodada', 'Talla', 'Material', 'Peso'], dtype='object')

In [11]:
cleta.index

Index(['Ruta', 'Gravel', 'Montaña'], dtype='object')