In [6]:
import pandas as pd
import numpy as np

In [9]:
dict = {'A':["A0", "A1", "A2", "A3"],
        'B':["B0", "B1", "B2", "B3"],
        'C':["C0", "C1", "C2", "C3"],
        'D':["D0", "D1", "D2", "D3"]}
df1 = pd.DataFrame(dict)

dict = {'A':["A4", "A5", "A6", "A7"],
        'B':["B4", "B5", "B6", "B7"],
        'C':["C4", "C5", "C6", "C7"],
        'D':["D4", "D5", "D6", "D7"]}
df2 = pd.DataFrame(dict)

In [11]:
pd.concat([df1, df2], ignore_index=True) #ignore_index para que los indices continúen numéricamnete

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [13]:
pd.concat([df1, df2], axis=1)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

# Merge

In [36]:
izq = pd.DataFrame({'key':['k0','k1','k2','k3'],
                    'A':["A0", "A1", "A2", "A3"],
                    'B':["B0", "B1", "B2", "B3"]
})

der = pd.DataFrame({'key':['k0','k1','k2','k3'],
                    'C':["C0", "C1", "C2", "C3"],
                    'D':["D0", "D1", "D2", 'D3']
})

In [37]:
izq.merge(der, on='key') # on= especifica la columna que tienen en comun los dos dataframe

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [24]:
izq = pd.DataFrame({'key_1':['k0','k1','k2','k3'],
                    'A':["A0", "A1", "A2", "A3"],
                    'B':["B0", "B1", "B2", "B3"]
})

der = pd.DataFrame({'key':['k0','k1','k2','k3'],
                    'C':["C0", "C1", "C2", "C3"],
                    'D':["D0", "D1", "D2", "D3"]
})

izq.merge(der, on='key')     # Esto genera un error porque en este dataframe ya no hay key clonado.

KeyError: 'key'

In [29]:
izq = pd.DataFrame({'key_1':['k0','k1','k2','k3'],
                    'A':["A0", "A1", "A2", "A3"],
                    'B':["B0", "B1", "B2", "B3"]
})

der = pd.DataFrame({'key':['k0','k1','k2','k3'],
                    'C':["C0", "C1", "C2", "C3"],
                    'D':["D0", "D1", "D2", "D3"]
})

izq.merge(der, left_on='key_1', right_on='key')  # ahora especificamos la columna de izquierda y de derecha

  key_1   A   B key   C   D
0    k0  A0  B0  k0  C0  D0
1    k1  A1  B1  k1  C1  D1
2    k2  A2  B2  k2  C2  D2
3    k3  A3  B3  k3  C3  D3

En el codigo de abajo no se ponen los valores del index 3 porque la relación está en key, pero en este caso hemos borrado k3 en uno de los dataframe, por lo cual el k3 de izq no se relaciona con el nan de der en el index 3, por lo cual el index 3 no tiene relación alguna entre dataframes y no se muestra en el merge.

In [38]:
izq = pd.DataFrame({'key_1':['k0','k1','k2','k3'],
                    'A':["A0", "A1", "A2", "A3"],
                    'B':["B0", "B1", "B2", "B3"]
})

der = pd.DataFrame({'key':['k0','k1','k2', np.nan],
                    'C':["C0", "C1", "C2", "C3"],
                    'D':["D0", "D1", "D2", "D3"]
})

izq.merge(der, left_on='key_1', right_on='key')

  key_1   A   B key   C   D
0    k0  A0  B0  k0  C0  D0
1    k1  A1  B1  k1  C1  D1
2    k2  A2  B2  k2  C2  D2

In [39]:
izq = pd.DataFrame({'key_1':['k0','k1','k2','k3'],
                    'A':["A0", "A1", "A2", "A3"],
                    'B':["B0", "B1", "B2", "B3"]
})

der = pd.DataFrame({'key':['k0','k1','k2', np.nan],
                    'C':["C0", "C1", "C2", "C3"],
                    'D':["D0", "D1", "D2", "D3"]
})

izq.merge(der, left_on='key_1', right_on='key', how='left') 
#ahora sólo se muestran los de la izquierda aunque no haya relación en el index 3
#a la derecha no sale nada porque no hay relación, forzamos la aparición de los valores
#de la izquierda.

  key_1   A   B  key    C    D
0    k0  A0  B0   k0   C0   D0
1    k1  A1  B1   k1   C1   D1
2    k2  A2  B2   k2   C2   D2
3    k3  A3  B3  NaN  NaN  NaN

In [41]:
izq = pd.DataFrame({'key_1':['k0','k1','k2','k3'],
                    'A':["A0", "A1", "A2", "A3"],
                    'B':["B0", "B1", "B2", "B3"]
})

der = pd.DataFrame({'key':['k0','k1','k2', np.nan],
                    'C':["C0", "C1", "C2", "C3"],
                    'D':["D0", "D1", "D2", "D3"]
})

izq.merge(der, left_on='key_1', right_on='key', how='right') 
#ahora forzamos los valores de la derecha.

  key_1    A    B  key   C   D
0    k0   A0   B0   k0  C0  D0
1    k1   A1   B1   k1  C1  D1
2    k2   A2   B2   k2  C2  D2
3   NaN  NaN  NaN  NaN  C3  D3